@import url("../../global/index.css");

.header {
  display: flex;
  justify-content: start;
  background-color: var(--heading-color-3);
  align-items: center;
  padding: 25px 15px 15px 25px;
}

.registration,
.authorization {
  display: grid;
  justify-content: center;
  row-gap: 10px;
  margin-top: 25px;
}

.registration__form,
.authorization__form {
  display: grid;
  grid-template-columns: max-content 250px;
  row-gap: 25px;
}

.registration__label,
.authorization__label {
  padding-right: 10px;
}

.registration__button,
.authorization__button {
  grid-column: 1 / -1;
  justify-self: end;
  width: 150px;
}

.registration__error,
.authorization__error {
  color: #f00;
  grid-column: 1 / -1;
}

.display-none {
  display: none;
}
