@import url("../../global/index.css");

.registration,
.authorization {
  display: grid;
  justify-content: center;
  row-gap: 10px;
  margin-top: 25px;
}

.registration__form,
.authorization__form {
  display: grid;
  grid-template-columns: max-content 250px;
  row-gap: 25px;
}

.registration__label,
.authorization__label {
  padding-right: 10px;
}

.registration__button {
  grid-column: 1 / -1;
  justify-self: end;
  width: 150px;
}

.registration__error {
  color: #f00;
}

.di {
  display: none;
}
