<div *ngIf="anime$ | async as anime; trackBy: trackAnime; else loading" class="anime">

  <div class="anime__management">

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select (selectionChange)="applyType($event)" multiple>
        <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <input class="anime__search" matInput (keyup)="applySearch($event)" placeholder="Search" #input>
    </mat-form-field>
  </div>

  <table class="anime__table" matSort (matSortChange)="applySort($event)" mat-table [dataSource]="anime"
    matSortActive="titleEnglish" matSortDirection="asc" aria-label="Anime table">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <img class="anime__image" [src]="row.image" alt="image">
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef disableClear mat-sort-header="titleEnglish">Name</th>
      <td mat-cell *matCellDef="let row">
        <p>{{row.titleEnglish}}</p>
        <p class="anime__title-japanese">{{row.titleJapanese}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef disableClear mat-sort-header="status">Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="airingStart">
      <th mat-header-cell *matHeaderCellDef disableClear mat-sort-header="airedStart">Aired start</th>
      <td mat-cell *matCellDef="let row"> {{row.airingStart | formatDate}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No anime for this request</td>
    </tr>
  </table>


  <mat-paginator [length]="animeCount" (page)="applyPagination($event)" [pageIndex]="pageIndex"
    [pageSizeOptions]="[25, 50, 100, 250]" aria-label="Select page of anime">
  </mat-paginator>

</div>

<ng-template #loading>
  <div class="loading-layout">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>