<div class="anime">

  <div class="anime__management">
    <mat-form-field appearance="standard">
      <input class="anime__search" matInput (keyup)="applySearch($event)" placeholder="Search" #input>
    </mat-form-field>
  </div>

  <table 
    class="anime__table" *ngIf="anime$| async as anime" 
    matSort (matSortChange)="applySort($event)" mat-table
    [dataSource]="anime" aria-label="Anime table">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <img class="anime__image" [src]="row.image" alt="image">
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="titleEnglish"> Name </th>
      <td mat-cell *matCellDef="let row">
        <p>{{row.titleEnglish}}</p>
        <p class="anime__title-japanese">{{row.titleJapanese}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="airingStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="airingStart"> Aired start </th>
      <td mat-cell *matCellDef="let row"> {{wrapperFormatDate(row.airingStart) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator 
    [length]="animeCount" 
    (page)="applyPagination($event)" 
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[25, 50, 100, 250]"
    [pageSize]="limit"
    aria-label="Select page of users">
  </mat-paginator>

</div>