.anime {
  width: 65%;
  margin: auto;
  margin-top: 25px;
}

.anime__management {
  display: flex;
  justify-content: space-between;
}

.anime__table {
  width: 100%;
}

.anime__header-image {
  width: 150px;
}

.anime__header-type,
.anime__header-status,
.anime__header-airing {
  width: 10%;
}

.anime__container-image {
  width: 150px;
  height: 150px;
  padding-right: 25px;
}

.anime__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.anime__title-japanese {
  font-size: 0.8em;
  color: var(--accent-color-3);
}

.anime__filter {
  width: 25%;
}

.anime__search {
  box-sizing: border-box;
  padding: 0 5px;
  width: 25%;
}

.loading-layout {
  margin: auto;
  height: 10px;
  border-top: 3px solid var(--primary-contrast-color);
}
