.anime {
  width: 65%;
  margin: auto;
}

.anime__table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  min-width: 15%;
  margin: 0 5px;
  text-align: center;
}

.mat-cell:first-child,
.mat-header-cell:first-child {
  width: 150px;
}

.anime__image {
  max-width: 150px;
  max-height: 150px;
}

.anime__title-japanese {
  font-size: 0.8em;
  color: var(--accent-color-3);
}