<div class="registration">
  <h1>Registration</h1>
  <form class="registration__form" [formGroup]="registrationForm">

    <mat-form-field appearance="fill">
      <mat-label>Enter your first name</mat-label>
      <input matInput placeholder="Alex" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your last name</mat-label>
      <input matInput placeholder="Adamson" formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email">
      <mat-error *ngIf="registrationForm.get('email')">Incorrect e-mail</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" matInput [type]="isHiddenPassword ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="isHiddenPassword = !isHiddenPassword"
        [attr.aria-label]="'isHiddenPassword password'" [attr.aria-pressed]="isHiddenPassword">
        <mat-icon>{{isHiddenPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Confirm your password</mat-label>
      <input formControlName="confirmPassword" matInput [type]="isHiddenConfirmPassword ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="isHiddenConfirmPassword = !isHiddenConfirmPassword"
        [attr.aria-label]="'isHiddenConfirmPassword password'" [attr.aria-pressed]="isHiddenConfirmPassword">
        <mat-icon>{{isHiddenConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="registrationForm.get('confirmPassword')">Passwords don't match</mat-error>
    </mat-form-field>

    <mat-error *ngIf="registrationForm.hasError('data')">{{
      registrationForm.getError("data")
    }}</mat-error>
    <!-- <div *ngFor="let error of registrationForm.controls.error()" [value]="error">

    </div> -->
    <!-- <mat-option *ngFor="let type of typeList" [value]="type">{{ -->

    <button (click)="register()" [disabled]="registrationForm.invalid" class="registration__submit" type="button" mat-raised-button
      color="primary">Registration</button>
  </form>
</div>