a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-color);

  border-bottom: 1px solid var(--link-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

button,
select {
  font-size: inherit;
  font-family: inherit;
}

p {
  margin: 0;
}
