a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-light-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

button,
select {
  font-size: inherit;
  font-family: inherit;
}

select {
  padding: 5px 15px;
  font-size: 0.8em;
  outline: none;
}

select:focus {
  outline: 1px solid var(--heading-color-3);
}

th {
  text-align: left;
}
