.anime {
  width: var(--width-main-content);
  margin: auto;
  margin-top: 25px;
}

.anime__form {
  display: flex;
  flex-wrap: wrap;
}

.anime__submit {
  align-self: flex-end;
}

.single-autocomplete {
  height: 200px !important;
}

.anime__genre {
  width: 50%;
}

.genre__add {
  font-size: initial;
  background-color: initial;
  border: none;
}
